@page "/applications"
@using Core
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]


<div>
    <div class="row mb-5">
        <h1 class="mb-5">Your pending applications</h1>
        <NavLink href="/" class="top-btn bg-dark-grey white shadow">
             <i class="btn-i-left fas fa-chevron-left"> </i>Go to all theses
        </NavLink>
    </div>
    <div class="row">
    @foreach (var Apply in applies)
        {
        <ApplicationComponent 
            thesisId ="@Apply.Thesis.Id"
            title="@Apply.Thesis.Name"
            teacher="@Apply.Thesis.TeacherName"
            excerpt="@Apply.Thesis.Excerpt"
            accepted="@Apply.Status"
            studentID="@Apply.Student.Id"
            applyId = "@Apply.Id"
            status = "@Apply.Status"
        />
    }
    </div>
</div>

@code {
    private ApplyDTOWithMinalThesis[]? applies;

    protected override async Task OnInitializedAsync()
    {

    var username = await localStorage.GetItemAsync<string>("user"); 
    var usernameInt = Int32.Parse(username);
    
    applies = await Http.GetFromJsonAsync<ApplyDTOWithMinalThesis[]>("api/Apply/" + usernameInt);
    }
}

