@page "/"
@using Entities
@using Core
@* @inject Client.Service.IThesesService ThesesService *@
@inject HttpClient Http
@inject NavigationManager NavigationManager
@attribute [Authorize]

@* <ThesisPosts /> *@

<div>
    <div class="row mb-5">
        <h1 class="mb-5">Find a thesis</h1>
        <NavLink href="/applications" class="top-btn bg-yellow">
            Go to applied theses
        </NavLink>
    </div>
    <div class="row">
    @foreach (var Thesis in Theses)
    {
        <ThesisComponent 
            Id="@Thesis.ID"
            Title="@Thesis.Name"

             />
        @* <tr>
            <td>@Thesis.ID</td>
            <td>@Thesis.Name</td>
            <td>@Thesis.TeacherName</td>
        </tr> *@
    }
    </div>
</div>



@code {
    private MinimalThesisDTO[]? Theses;

    protected override async Task OnInitializedAsync()
    {
        Theses = await Http.GetFromJsonAsync<MinimalThesisDTO[]>("api/Thesis");
    }
}