@page "/teacher"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

<div>
    <div class="row mb-5">
        <h1 class="mb-5">Your pending applications</h1>
        <NavLink href="/" class="top-btn bg-dark-grey white">
            Go to all theses
        </NavLink>
    </div>
    <div class="row">
        @if (applies != null) {
            @foreach (var Apply in applies){
                <TeacherComponent 
                    thesisID="@Apply.Thesis.Id"
                    title="@Apply.Thesis.Name"
                    student="@Apply.Student.Name"
                    studentID="@Apply.Student.Id"
                    applyId = "@Apply.Id"
                    status = "@Apply.Status"
                />
            }
        }
    </div>
</div>

@code {
    private ApplyDTOWithMinalThesis[]? applies;

    protected override async Task OnInitializedAsync()
    {
        applies = await Http.GetFromJsonAsync<ApplyDTOWithMinalThesis[]>("api/Teacher/" + 1);
    }
}