@page "/teacher"
@inject HttpClient Http
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@attribute [Authorize]

@if (_applies != null) {
<div>
    <div class="row mb-5">
        <h1 class="mb-5">Your pending applications</h1>
        <NavLink href="/" class="top-btn bg-dark-grey white">
            Go to all theses
        </NavLink>
    </div>
    <div class="row">
            @foreach (var apply in _applies){
                <TeacherComponent 
                    thesisID="@apply.Thesis.Id"
                    title="@apply.Thesis.Name"
                    student="@apply.Student.Name"
                    studentID="@apply.Student.Id"
                    applyId = "@apply.Id"
                    status = "@apply.Status"
                />
            }
    </div>
</div>

} else if (_applies == null){
    <div>
        <h1>You must be a teacher to acces this page</h1>
    </div>
}


@code {
    ApplyDTOWithMinalThesis[]? _applies;

    protected override async Task OnInitializedAsync()
    {
        _applies = await Http.GetFromJsonAsync<ApplyDTOWithMinalThesis[]>("api/Teacher/" + 1);
    }
}