@using Core
@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage
@attribute [Authorize]

    <div class="card mb-4 mt-3 border-0 @(true ? "yellow" : "bg-grey")">
        <div class="row mb-4">
            <div class="col-sm-8">
                <h2 class="headline">@title</h2>
                <h3>Professor @teacher</h3>
                <h3>Student @student</h3>
                <h4 class="text-muted h6">@keywords</h4>
                <div class="excerpt">
                    @((MarkupString)excerpt)
                </div>
            </div>
                <div class="col d-flex flex-row justify-content-center">
                    <div class="accepted-btns d-flex flex-column justify-content-around" style="width: 80%">
                        <button class="btn btn-accept" @onclick="Accept" >Accept</button>
                        <button class="btn btn-cancel">Decline</button>
                    </div>
                </div>
        </div>
    </div>


@code {

    [Parameter]
    public int Id { get; set; } = 0;
    
    [Parameter]
    public string title { get; set; } = "";

    [Parameter]
    public string teacher { get; set; } = "";

    [Parameter]
    public string keywords { get; set; } = "";

    [Parameter]
    public string student { get; set;} = "";

    [Parameter]
    public string excerpt { get; set; } = "";    

    [Parameter]
    public Status accepted { get; set; } = 0;
 
}