<NavLink href=""class="application">
    <div class="card mb-4 mt-3 border-0 @(accepted == Status.Accepted ? "yellow" : "bg-grey")">
        <div class="row mb-4">
            <div class="col-sm-8">
                <h2 class="headline">@title</h2>
                <h3>Professor @teacher</h3>
                <h4 class="text-muted h6">@keywords</h4>
                <div class="excerpt">
                    @((MarkupString)excerpt)
                </div>
            </div>
                @if (accepted == Status.Accepted) {
                    <div class="col d-flex flex-row justify-content-center">
                        <div class="accepted-btns d-flex flex-column justify-content-around" style="width: 80%">
                            <button class="btn btn-accept">Accept</button>
                            <button class="btn btn-cancel">Decline</button>
                        </div>
                    </div>
                } else {
                    <div class="col d-flex justify-content-center">
                        <div class="not-accepted-btn d-flex align-items-center" style="width: 80%">
                            <button class="btn btn-cancel">Cancel</button>
                        </div>
                    </div>
                }
        </div>
    </div>
</NavLink>


@code {

    [Parameter]
    public int Id { get; set; } = 0;
    
    [Parameter]
    public string title { get; set; } = "";

    [Parameter]
    public string teacher { get; set; } = "";

    [Parameter]
    public string keywords { get; set; } = "";

    [Parameter]
    public string excerpt { get; set; } = "";    

    [Parameter]
    public Status accepted { get; set; } = 0;

}